
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
    <header  style="background-position: 50% -125px;">
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-brand"><a href="/Home"><strong> WebChat</strong></a></div>
                    <div class="navbar-brand" style="float:right;"><a href="/User/Register">注册</a></div>
                    <div class="navbar-brand" style="float:right;"><a href="/User/Login">登录</a></div>
                    <div class="navbar-brand" style="float:right;"><a href="/File/Mine">我的</a></div>
                    <div class="navbar-brand" style="float:right;"><a href="/Home/Index">主页</a></div>
                </div>
            </nav>
        </div>
    </header>
    <br><br><br>
    <div class="container">
        <h2>登录</h2>
        <hr />
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="form-group">
                    <label for="inputUID">UID</label>
                    <h6 class="text-warning" style="display:inline"></h6>
                    <input type="email" class="form-control" id="inputUID" />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <h6 class="text-warning" style="display:inline"></h6>
                    <input type="password" class="form-control" id="inputPassword" />
                </div>
                <button class="btn btn-default" id="bt_login">登录</button>
            </div>
            <div class="col-md-6 column">
            </div>
        </div>
        <hr />
    </div>
</body>
</html>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
    $("#bt_login").click(function () {
        var uid = $("#inputUID").val();
        var passwd =$("#inputPassword").val();
        if ("" == uid || "" == passwd) {
            alert("信息不完整");
            return;
        }
        $.ajax({
            type : "POST",
            url: "/User/CheckLogin",
            data: {
                uid: uid,
                passwd: passwd
            },
            dataType: "text",
            success: function (data) {
                if ("true" == data)
                    window.location.href = '/Home/index';
                else
                    alert("用户名或密码错误");
            }
        });
    });
</script>